.modal{
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.6);
}

.modal-content{
	background-color: #eee;
	margin: 15% auto;
	padding: 1rem 2rem;
	border: 1px solid #999;
	border-radius: 1rem;
	width: 33%;
	min-width: var(--buttonMin);
	max-width: var(--buttonMax);
	position: relative;
	animation: animatetop 0.4s;
  font-family: var(--font);
}

@keyframes animatetop {
	from { top: -300px; opacity: 0; }
	to { top: 0; opacity: 1; }
}

.modal-content h1, .modal-content h2{
	color: #333;
}

.close{
	color: #999;
	float: right;
	font-size: 2rem;
}

.close:hover, .close:focus{
	color: #000;
	text-decoration: none;
	cursor: pointer;
}
